@charset "utf-8";
/* CSS Document */

*
{
	margin: 0;
	padding: 0;
}

header{
	position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    background: #262626;
    width: 100%;
    box-sizing: border-box;
	z-index: 100;
	/*
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 100, 0.5)),url(img/bg2.jpg);
	height: 9%;
	background-size: cover;
	background-position: center;*/
}

body{
	margin: 0;
	padding: 0;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 100, 0.5)),url(img/bg1.jpg);
	background-size:100% 100%;
	background-attachment: fixed;
	font-family: sans-serif;
	font-size: 14px;
}

header .logo{
 	color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: left;
    font-weight: bold;
}

header nav{
    float: right;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    display: block;
    margin-left: 2px;
}
header nav ul li a:link{
    text-decoration: none;
}
header nav ul li a:hover, header nav ul li a.active{
    color: #fff;
    background: #0070c0;
}
.btnSair{
    background: rgb(230, 25, 25);
}

.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
@media (max-width: 700px){
    header{
        padding: 0 20px;
    }
    .menu-toggle{
        display: block;
    }
    header nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: block;
        text-align: center;
    }
    header nav ul li a{
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }
}

h1{
	font-family: sans-serif;
	padding-top: 10px;
}

.formulario{
	width: 60%;
	height: auto;
	background-color: rgba(0,0,0,0.80);
	color: #fff;
	top: 50%;
	left: 50%;
	position: relative;
	transform: translate(-50%, 1%);
	box-sizing: border-box;
	padding: 20px 30px;
}

.formTittle{
	font-family: sans-serif;
	font-size: 16px; 
	background-color: rgba(153,172,185,0.89);
	height: 40px;
	padding-left: 5px;
	border-radius: 5px;
}

.description{
	font-family: sans-serif;
	height: 25px;
	padding-left: 7px;
}

.separador{
	font-family: sans-serif;
	font-size: 20px; 
	font-weight: bold;
	height: 15px;
	text-align: center;
}

.cadastroUsuario{
	width: 400px;
	height: auto;
	background-color: rgba(0,0,0,0.80);
	color: #fff;
	left: 25%;
	position: relative;
	transform: translate(-50%, 0%);
	box-sizing: border-box;
	padding: 20px 30px;
}

.cadastroUsuario h1{
	padding-top: 5%;
	padding-left: 10%;
	padding-bottom: 10px;
}
.cadastroUsuario p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

select{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #9F9F9F;
	font-size: 16px;
	width: 100%;
    margin-bottom: 20px;
}

.formulario2 select{
	margin-left: 20px;
    margin-right: 20px;
}

.tableUsuario {
	border: 1px;
	border-color: #000;
	font-family: sans-serif;
	position: relative;
	padding: 10px;
	transform: translate(0%, 10%);
}

.tableUsuario th{
	padding: 5px;
	color: #000;
	align-content: center;
	background-color: rgba(34,121,158,0.75);
}

.tableUsuario td{
	padding: 5px;
	text-align: center;
	background-color: rgba(0,78,134,0.80);
}

.tableUsuario tr:hover {
	background-color: rgba(20,90,150,0.90);
}

.login{
	width: 320px;
	height: 420px;
	background-color: rgba(0,0,0,0.80);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
	
}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -12%;
	left: calc(50% - 50px);
}


.login h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.login p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.login input, .cadastroUsuario input{
	width: 100%;
	margin-bottom: 20px;
}

/*.cadastroUsuario e empresa e login*/input[type="text"], input[type="password"], input[type="email"], input[type="date"]{
    width: 100%;
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
    font-family: sans-serif;
	font-size: 16px;
}

input[type="date"]{
    text-align: right;
}

input[type="submit"]{
    width: 90%;
	border: none;
	outline: none;
	height: 40px;
	background: #0070c0;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

input[type="reset"]{
    width: 90%;
	border: none;
	outline: none;
	height: 40px;
	background: #9696A1;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

input[type="submit"]:hover, input[type="reset"]:hover{
	cursor: pointer;
	background: #43B0FF;
}

.login h2{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgray;
	text-align: center;
}

.formulario2{
	width: 75%;
	height: auto;
	background-color: rgba(0,0,0,0.80);
	color: #fff;
	top: 50%;
	left: 50%;
	position: relative;
	transform: translate(-50%, 1%);
	box-sizing: border-box;
	padding: 20px 30px;
}

.col-md-6{
	display:flex;
    justify-content: space-around;
	padding-left: 10%;
	padding-right: 10%; 
}

.formulario2 th{
	padding: 5px;
	color: #fff;
	align-content: center;
	background-color: rgba(34,121,158,0.75);
}

.formulario2 td{
	padding: 5px;
	text-align: center;
}

.tabledata tr:hover {
	background-color: #797398;
}

.formulario2 table{
	border: 1px;
	font-family: sans-serif;
    font-size: 12px;
}

.formulario2 input{
	border: none;
	outline: none;
	height: auto;
	width: 20%;
	background: #0070c0;
	color: #fff;
	font-size: 15px;
	border-radius: 20px;
	padding: 7px;
	text-align: center;
}

.formulario2 input:hover{
	cursor: pointer;
	background-color: #43B0FF;
}

.help{
    width: 50px;
	height: 50px;
	padding-left: calc(50% - 25px);
}